<%- include('../component/header'); -%>
<div class="jumbotron text-center">
    <h1>BLOGOOO</h1>
    <p>This Is Blog WebApp!</p>
</div>

<div class="container" style="padding-bottom:100px;">
    <div class="row">
        <div class="col-sm-4">
            <h3>Technology</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        <div class="col-sm-4">
            <h3>Science</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        <div class="col-sm-4">
            <h3>Photogrphy</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
    </div>
</div>

<%- include('../component/footer'); -%>
