<%- include('../component/header'); -%>
<div class="container-fluid" style="padding-bottom:100px;padding-top:20px;">

    <div class="panel panel-default" align="center">
        <div class="panel-heading c-list">
            <span class="title">Contacts</span>
            <ul class="pull-right c-controls">
                <li><a href="#cant-do-all-the-work-for-you" data-toggle="tooltip" data-placement="top"
                       title="Add Contact"><i class="glyphicon glyphicon-plus"></i></a></li>
                <li><a href="#" class="hide-search" data-command="toggle-search" data-toggle="tooltip"
                       data-placement="top" title="Toggle Search"><i class="fa fa-ellipsis-v"></i></a></li>
            </ul>
        </div>
    </div>

    <div class="row" style="padding-right:40px">

        <div class="list-group" id="contact-list">
            <div class="list-group-item">
                <div class="col-xs-12 col-sm-12">
                    <img src="https://avatars3.githubusercontent.com/u/30072249?s=460&v=4" alt="Seth Frazier"
                         width="100px" height="100px" class="img-responsive img-circle"/>
                </div>
                <div class="col-xs-12 col-sm-9">
                    <span class="name">Apoorv&nbsp;Verma</span><br/>
                    <span class="visible-xs" style="width:100%"> <span
                                class="text-muted">GitHub&nbsp;@Apoorve8055</span><br/></span>
                    <span class="visible-xs"> <span class="text-muted">(000) 000-000</span><br/></span>
                    <span class="visible-xs"> <span class="text-muted"><b>CEO</b></span><br/></span>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="list-group" id="contact-list">
            <div class="list-group-item">
                <div class="col-xs-12 col-sm-12">
                    <img src="https://avatars3.githubusercontent.com/u/30072249?s=460&v=4" alt="Seth Frazier"
                         width="100px" height="100px" class="img-responsive img-circle"/>
                </div>
                <div class="col-xs-12 col-sm-9">
                    <span class="name">Apoorv&nbsp;Verma</span><br/>
                    <span class="visible-xs" style="width:100%"> <span
                                class="text-muted">GitHub&nbsp;@Apoorve8055</span><br/></span>
                    <span class="visible-xs"> <span class="text-muted">(000) 000-000</span><br/></span>
                    <span class="visible-xs"> <span class="text-muted"><b>COO</b></span><br/></span>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="list-group" id="contact-list">
            <div class="list-group-item">
                <div class="col-xs-12 col-sm-12">
                    <img src="https://avatars3.githubusercontent.com/u/30072249?s=460&v=4" alt="Seth Frazier"
                         width="100px" height="100px" class="img-responsive img-circle"/>
                </div>
                <div class="col-xs-12 col-sm-9">
                    <span class="name">Apoorv&nbsp;Verma</span><br/>
                    <span class="visible-xs" style="width:100%"> <span
                                class="text-muted">GitHub&nbsp;@Apoorve8055</span><br/></span>
                    <span class="visible-xs"> <span class="text-muted">(000) 000-000</span><br/></span>
                    <span class="visible-xs"> <span class="text-muted"><b>CTO</b></span><br/></span>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="list-group" id="contact-list">
            <div class="list-group-item">
                <div class="col-xs-12 col-sm-12">
                    <img src="https://avatars3.githubusercontent.com/u/30072249?s=460&v=4" alt="Seth Frazier"
                         width="100px" height="100px" class="img-responsive img-circle"/>
                </div>
                <div class="col-xs-12 col-sm-9">
                    <span class="name">Apoorv&nbsp;Verma</span><br/>
                    <span class="visible-xs" style="width:100%"> <span
                                class="text-muted">GitHub&nbsp;@Apoorve8055</span><br/></span>
                    <span class="visible-xs"> <span class="text-muted">(000) 000-000</span><br/></span>
                    <span class="visible-xs"> <span class="text-muted"><b>MR</b></span><br/></span>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

</div>

<%- include('../component/footer'); -%>
